$black: #000000;
$white: #fff;
$primary: #D8A03E;
$secondary: #161615;

@font-face {
    font-family: 'Futura';
    src: url('../assets/fonts/Futura-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'FuturaPTBook';
    src: url('../assets/fonts/FuturaPTBookReg.woff2') format('woff2');
}
@font-face {
    font-family: 'FuturaPTDemi';
    src: url('../assets/fonts/FuturaPTDemi.woff2') format('woff2');
}
@font-face {
    font-family: 'FuturaPTMedium';
    src: url('../assets/fonts/FuturaPTMedium.woff2') format('woff2');
}
@font-face {
    font-family: 'Uniser';
    src: url('../assets/fonts/Uniser.woff2') format('woff2');
}
@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/RalewayRegular.woff2') format('woff2');
}
@font-face {
    font-family: 'RalewayBold';
    src: url('../assets/fonts/Raleway-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Arial';
    src: url('../assets/fonts/Arial.woff2') format('woff2');
}
@font-face {
    font-family: 'ArialBold';
    src: url('../assets/fonts/ArialBold.woff') format('woff');
}
@font-face {
    font-family: 'Din';
    src: url('../assets/fonts/DIN.woff2') format('woff2');
}
@font-face {
    font-family: 'DinBold';
    src: url('../assets/fonts/DINAlternateBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Helvetica';
    src: url('../assets/fonts/Helvetica.woff2') format('woff2');
}
@font-face {
    font-family: 'Helvetica57';
    src: url('../assets/fonts/HelveticaNeueLTStd57Condensed.woff2') format('woff2');
}


// Reset code starts here
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    text-decoration: none;
    font-weight: unset;
}
/* HTML5 display-role reset for older browsers */
*{
  scroll-behavior: smooth ;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    position: relative;
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//Reset code ends here

//Cookiebar code starts here
#cookie-bar {background:rgba(0,0,0,0.7); height:auto; line-height:24px; color:#eeeeee; text-align:center; padding:3px 0;}
#cookie-bar.fixed {position:fixed; top:0; left:0; width:100%;}
#cookie-bar.fixed.bottom {bottom:0; top:auto;}
#cookie-bar p {margin:0; padding: 7px 0px;font-size: 10px;text-align: center;}
#cookie-bar a {
	color: #eee;
	text-decoration: underline;
}
#cookie-bar a.cb-enable {
	color:#ffffff;
	display:inline-block;
	border-radius:3px;
	text-decoration:none;
	padding: 9px 15px;
	margin-left:8px;
}
#cookie-bar .cb-enable {background:rgba(255,255,255,0.2)}
#cookie-bar .cb-enable:hover {background:rgba(255,255,255,1);color: #000;}
#cookie-bar .cb-disable {background:#990000;}
#cookie-bar .cb-disable:hover {background:#bb0000;}
#cookie-bar .cb-policy {background:#0033bb;}
#cookie-bar .cb-policy:hover {background:#0055dd;}
@media (max-width: 768px) {
	#cookie-bar p {
		padding: 7px 3%;
	}  
}
@media (max-width: 480px) {
	#cookie-bar p {
		line-height: 15px;
	}
	#cookie-bar a.cb-enable {
		padding: 6px 15px;
	}
}
//Cookierbar code ends here


* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: $primary;
	font-family: 'Futura';
}

#cookie-bar p {
	font-family: 'Futura'!important;

}
.d-mob{
    display: none!important;
    @media (max-width:576px) {
        display: block!important;        
    }
}
.d-desk{
    display: block!important;
    @media (max-width:576px) {
        display: none!important;        
    }
}
.d-text{
    display: block!important;
    @media (max-width:1200px) {
        display: none!important;        
    }
}
.d-flex{
    display: flex;
}
.overflow{
    overflow: hidden;
}
.wrapper{
    .main-section{
        padding: 0 50px;
        @media (max-width:768px) {
            padding: 0;
        }
        .main-row{
            max-width: 1820px;
            margin: auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            @media (max-width:992px) {
                flex-direction: column;
            }
            .img-container{
                padding-right: 171px;
                position: relative;
                @media (max-width:1700px) {
                    padding-right: 55px;
                }
                @media (max-width:992px) {
                    padding: 100px 0 0 0;
                }
                @media (max-width:576px) {
                    padding: 70px 0 0 0;
                }
                .secondary-container{
                    position: relative;
                    .t-box-cont{
                        position: absolute;
                        top: 228px;
                        right: -54.5px;
                        display: flex;
                        flex-direction: column;
                        @media (max-width:992px) {
                            top: -40px;
                            right: 50%;
                            transform: translateX(50%);
                            flex-direction: row;
                        }
                        @media (max-width:420px) {
                            width: calc(100% - 60px);
                            justify-content: space-between;
                        }
                        @media (max-width:340px) {
                            width: calc(100% - 40px);
                        }
                    }
                    .t-box{
                        box-shadow: 0px 0px 10px #00000033;
                        color: $primary;
                        border-radius: 50%;
                        width: 109px;
                        height: 109px;
                        background-color: $secondary;
                        border: 3px solid $white;
                        text-align: center;
                        font-family: 'DinBold';
                        font-size: 18px;
                        letter-spacing: 0.54px;
                        line-height: 21px;
                        padding-top: 20px;
                        margin-bottom: 27px;
                        &:last-child{
                            margin: 0;
                        }
                        @media (max-width:992px) {
                            margin-right: 27px;
                        }
                        @media (max-width:576px) {
                            padding-top: 10px;
                            font-size: 14px;
                            letter-spacing: 0.42px;
                            line-height: 17px;
                            width: 80px;
                            height: 80px;
                        }
                        @media (max-width:420px) {
                            margin-right: 0;
                        }
                        .large{
                            font-size: 32px;
                            letter-spacing: 0.96px;
                            line-height: 29px;
                            position: relative;
                            @media (max-width:576px) {
                                font-size: 20px;
                                letter-spacing: 0.6px;
                                line-height: 22px;
                            }
                            .num{
                                font-family: 'Arial';
                                font-size: 10px;
                                letter-spacing: 0.36px;
                                color: $white;
                                line-height: 12px;
                                position: absolute;
                                top: 2px;
                            }
                        }
                        span{
                            font-family: 'Arial';
                            font-size: 12px;
                            letter-spacing: 0.36px;
                            color: $white;
                            line-height: 12px;
                            position: relative;
                            top: -2px;
                        }
                    }
                    .img{
                        max-width: 739px;
                        width: 100%;
                        height: 1080px;
                        object-fit: cover;
                        display: block;
                        @media (max-width:768px) {
                            height: auto;
                            min-height: 550px;
                        }
                    }
                }
            }
            .text-cont{
                max-width: 333px;
                width: 100%;
                margin-right: 196px;
                @media (max-width:1400px) {
                    margin-right: 100px;
                }
                @media (max-width:1300px) {
                    margin-right: 50px;
                }
                @media (max-width:992px) {
                    padding-top: 50px;
                    margin-right: 0;
                }
                @media (max-width:768px) {
                    padding: 50px 30px 0 30px;
                    max-width: 393px;
                }
                .img-cont{
                    text-align: end;
                    padding-bottom: 59px;
                    padding-right: 85px;
                    @media (max-width:992px) {
                        padding-right: 0;
                        text-align: center;
                    }
                    @media (max-width:768px) {
                        padding-bottom: 30px;
                    }
                    @media (max-width:576px) {
                        img{
                            max-width: 85px;
                        }
                    }
                }
                .heading{
                    font-family: 'Arial';
                    font-size: 32px;
                    letter-spacing: 1.68px;
                    line-height: 34px;
                    color: $secondary;
                    @media (max-width:768px) {
                        text-align: center;
                        font-size: 28px;
                        letter-spacing: 1.56px;
                    }
                    @media (max-width:350px) {
                        font-size: 24px;
                        letter-spacing: 1.2px;
                    }
                    b.lance{
                        font-family: 'ArialBold';
                        font-size: 36px;
                        @media (max-width:768px) {
                            font-size: 32px;
                        }
                    }
                    b{
                        font-family: 'ArialBold';
                    }
                    b.primary{
                        color: $primary;
                        font-family: 'ArialBold';
                        font-size: 28px;
                        @media (max-width:768px) {
                            font-size: 25px;
                        }
                        @media (max-width:350px) {
                            font-size: 21px;
                        }
                    }
                }
                .line{
                    max-width: 83px;
                    width: 100%;
                    height: 3.6px;
                    background-color: #BABABA;
                    margin: 18px auto 18px 0;
                    @media (max-width:768px) {
                        margin: 18px auto 18px auto;
                    }
                }
                .text{
                    color: $secondary;
                    font-size: 20px;
                    font-family: 'Arial';
                    letter-spacing: 0.6px;
                    line-height: 24px;
                    padding-bottom: 35px;
                    @media (max-width:768px) {
                        padding-bottom: 30px;
                        text-align: center;
                    }
                }
                .btn-link{
                    margin-right: auto;
                    max-width: 320px;
                    width: 100%;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $secondary;
                    color: $secondary;
                    font-size: 20px;
                    font-family: 'FuturaPTBook';
                    letter-spacing: 1.2px;
                    transition: all 0.1s ease-out;
                    @media (max-width:992px) {
                        position: static;
                        transform: unset;
                        margin: auto;
                    }
                    @media (max-width:350px) {
                        font-size: 17px;
                        letter-spacing: 1.7px;
                        text-align: center;
                    }
                    &:hover{
                        background-color: $white;
                        border: 5px solid #B4552E;
                        color: #B4552E;
                    }
                }
            }
        }
    }
    .progress-section{
        background-color: $primary;
        padding: 109px 50px 90px 50px;
        @media (max-width:992px) {
            display: flex;
        }
        @media (max-width:768px) {
            padding: 100px 30px;
        }
        .progress-row{
            margin: auto;
            max-width: 1267px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: $white;
            position: relative;
            padding: 0px 60px 0px 40px;
            @media (max-width:1350px) {
                padding-right: 40px;
                padding-left: 20px;
            }
            @media (max-width:992px) {
                flex-direction: column;
                padding: 0;
                display: inline-flex;
                width: unset;
            }
            .v-line-t{
                display: none;
                @media (max-width:992px) {
                    display: block;
                    position: absolute;
                    top: -55px;
                    left: 23.5px;
                    width: 3px;              
                }
            }
            .v-line-b{
                display: none;
                @media (max-width:992px) {
                    display: block;
                    position: absolute;
                    bottom: -55px;
                    left: 23.5px;
                    width: 3px;              
                }
            }
            .p-mob-line{
                display: none;
                @media (max-width:992px) {
                    display: block;
                    position: absolute;
                    top: 10px;
                    left: 23.5px;
                    height: calc(100% - 20px);
                    background-color: $white;
                    width: 3px;              
                }
            }
            .p-line{
                position: absolute;
                left: 0;
                bottom: 25px;
                width: 100%;
                height: 3px;
                @media (max-width:992px) {
                    display: none;
                }
                img{
                    position: absolute;
                    left: 0;
                    bottom: 0px;
                    width: 100%;
                    width: 100%;
                }
            }
            .p-child{
                display: flex;
                flex-direction: column;
                align-items: center;
                @media (max-width:992px) {
                    flex-direction: row-reverse;
                    justify-content: center;
                    padding-bottom: 30px;
                    &:last-child{
                        padding-bottom: 0;
                    }
                }
                .text{
                    text-align: center;
                    font-family: 'ArialBold';
                    font-size: 18px;
                    letter-spacing: 1.08px;
                    line-height: 20px;
                    min-height: 71px;
                    display: flex;
                    align-items: center;
                    padding-bottom: 25px;
                    @media (max-width:992px) {
                        min-width: 198px;
                        padding-left: 20px;
                        justify-content: center;
                        padding-bottom: 0;
                        min-height: 46px;
                        max-width: 233px;
                        width: 100%;
                    }
                    @media (max-width:320px) {
                        padding-left: 10px;
                    }
                    &.p{
                        font-size: 22px;
                        line-height: normal;
                    }
                }
                .disc{
                    border-radius: 50%;
                    min-width: 50px;
                    min-height: 50px;
                    background-color: $white;
                    border: 3px solid $secondary;
                    position: relative;
                    &.current{
                        border: 3px solid $white;
                        background-color: $primary;
                        .p-box{
                            background-color: $secondary;
                        }
                    }
                    .p-box{
                        border-radius: 50%;
                        min-width: 20px;
                        min-height: 20px;
                        background-color: $primary;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                
            }
        }
    }
    .residence-section{
        background-color: $secondary;
        min-height: 1080px;
        // background-image: url(/assets/images/bg-1.png);
        background-size: cover;
        background-position: center;
        padding: 155px 0 137px 0;
        position: relative;
        overflow: hidden;
        transition: all 0.3s ease-out;
        @media (max-width:992px) {
            padding: 75px 0;
            padding-top: 0;
        }
        .res-row{
            display: flex;
            align-items: center;
            position: relative;
            z-index: 2;
            @media (max-width:992px) {
                flex-direction: column;
            }
            .img{
                max-width: 1330px;
                width: 100%;
                height: 787px;
                object-fit: cover;
                display: block;
                @media (max-width:992px) {
                    height: 60vh;
                }
            }
            .text-cont{
                background-color: $white;
                max-width: 550px;
                width: 100%;
                color: $secondary;
                padding: 65px 32px 65px 72px;
                position: relative;
                left: -73px;
                min-height: 720px;
                position: relative;
                @media (max-width:1500px) {
                    left: -50px;
                    max-width: 517px;
                    padding: 65px 40px;
                }
                @media (max-width:992px) {
                    min-height: auto;
                    margin-top: 75px;
                    border: 1px solid $white;
                    left: 0;
                    width: calc(100% - 100px);
                    margin-left: auto;
                    margin-right: auto;
                }
                @media (max-width:768px) {
                    padding: 60px 30px 50px 30px;
                    width: calc(100% - 60px);
                }
                .t-box{
                    box-shadow: 0px 0px 10px #00000033;
                    color: $primary;
                    border-radius: 50%;
                    width: 109px;
                    height: 109px;
                    background-color: $secondary;
                    border: 3px solid $white;
                    position: absolute;
                    top: -54px;
                    right: 50px;
                    text-align: center;
                    font-family: 'DinBold';
                    font-size: 18px;
                    letter-spacing: 0.54px;
                    line-height: 21px;
                    padding-top: 20px;
                    @media (max-width:768px) {
                        right: 50%;
                        transform: translateX(50%);
                    }
                    .large{
                        font-size: 32px;
                        letter-spacing: 0.96px;
                        line-height: 29px;
                    }
                    span{
                        font-family: 'Arial';
                        font-size: 12px;
                        letter-spacing: 0.36px;
                        color: $white;
                        line-height: 12px;
                        position: relative;
                        top: -2px;
                    }
                }
                .heading{
                    font-size: 40px;
                    font-family: 'Uniser';
                    letter-spacing: 1.46px;
                    line-height: 43px;
                    max-width: 312px;
                    @media (max-width:768px) {
                        font-size: 30px;
                        letter-spacing: 1.2px;
                        line-height: 32px;
                    }
                }
                .line{
                    max-width: 312px;
                    width: 100%;
                    height: 1px;
                    background-color: $secondary;
                    margin: 23.5px auto 33.5px 0;
                    @media (max-width:768px) {
                        margin: 15px auto 15px 0;
                    }
                }
                .text{
                    font-size: 16px;
                    font-family: 'FuturaPTBook';
                    line-height: 24px;
                    padding-bottom: 30px;
                    span{
                        font-family: 'FuturaPTDemi';
                    }
                }
                .btn-link{
                    margin-right: auto;
                    max-width: 200px;
                    width: 100%;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $secondary;
                    color: $secondary;
                    font-size: 20px;
                    font-family: 'FuturaPTBook';
                    letter-spacing: 1.2px;
                    transition: all 0.1s ease-out;
                    @media (max-width:992px) {
                        position: static;
                        transform: unset;
                        margin: auto;
                    }
                    &:hover{
                        background-color: $white;
                        border: 5px solid #B4552E;
                        color: $secondary;
                    }
                }
            }
        }
    }
    .map-section{
        padding: 100px 50px 86px 50px;
        @media (max-width:768px) {
            padding: 50px 0px 86px 0px;
        }
        .heading{
            text-align: center;
            color: $primary;
            font-family: 'Uniser';
            font-size: 40px;
            letter-spacing: 1.6px;
            line-height: 43px;
            text-decoration: underline;
            // padding-bottom: 11px;
            text-decoration-thickness: 2px;
            text-underline-offset: 11px;
            padding: 0px 30px 0px 30px;
            @media (max-width:768px) {
                font-size: 30px;
                letter-spacing: 1.2px;
                line-height: 32px;
                text-decoration: unset;
            }
        }
        .text-map{
            font-family: 'FuturaPTBook';
            font-size: 16px;
            line-height: 26px;
            color: $secondary;
            text-align: center;
            max-width: 1018px;
            width: 100%;
            margin: auto;
            padding: 45px 30px;
        }
        .img-container{
            text-align: center;
            img{
                width: 100%;
                max-width: 826px;
                @media (max-width:992px) {
                    height: 600px;
                    object-fit: cover;
                }
                @media (max-width:768px) {
                    height: 60vh;
                }
            }
        }
    }
    .advantage-section{
        background-color: #F8F8F8;
        padding: 72px 50px 130px 50px;
        position: relative;
        @media (max-width:768px) {
            padding: 60px 30px 50px 30px;
        }
        .heading-p{
            position: absolute;
            top: -57px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            margin: auto;
            max-width: 188px;
            width: 100%;
            background-color: $primary;
            color: $white;
            padding: 15px 15px 27px 15px;
            font-family: 'Uniser';
            font-size: 40px;
            letter-spacing: 1.6px;
            line-height: 43px;
            .line{
                position: absolute;
                height: 2px;
                max-width: 138px;
                width: 100%;
                background-color: $white;
                left: 50%;
                bottom: 15.5px;
                transform: translateX(-50%);
            }
        }
        .text1{
            text-align: center;
            color: $secondary;
            font-family: 'FuturaPTBook';
            font-size: 16px;
            line-height: 21px;
            padding-bottom: 91px;
            @media (max-width:768px) {
                padding-bottom: 40px;
            }
            span{
                font-family: 'FuturaPTDemi';
            }
        }
        .heading-container{
            text-align: center;
            .heading{
                margin: auto;
                max-width: 188px;
                width: 100%;
                background-color: $secondary;
                color: $white;
                padding: 15px 15px 27px 15px;
                font-family: 'Uniser';
                font-size: 40px;
                letter-spacing: 1.6px;
                line-height: 43px;
                position: relative;
                .line{
                    position: absolute;
                    height: 2px;
                    max-width: 138px;
                    width: 100%;
                    background-color: $white;
                    left: 50%;
                    bottom: 15.5px;
                    transform: translateX(-50%);
                }
            }
        }
        .advantage-row{
            padding-top: 70px;
            max-width: 1141px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin: auto;
            @media (max-width:768px) {
                padding-top: 40px;
                flex-direction: column;
                align-items: center;
            }
            .child{
                text-align: center;
                padding-bottom: 30px;
                &:last-child{
                    @media (max-width:768px) {
                        padding-bottom: 0;
                    }
                }
                .disc{
                    max-width: 12px;
                    min-width: 12px;
                    min-height: 12px;
                    border-radius: 50%;
                    border: 1px solid $secondary;
                    margin: 20.66px auto 16px auto;
                    &.p{
                        border: 1px solid $primary;
                    }
                }
                .text{
                    font-size: 16px;
                    font-family: 'Arial';
                    line-height: 20px;
                    color: $secondary;
                    &.p{
                        color: $primary;
                    }
                }
            }
        }
    }
    .form-section{
        background-color: $secondary;
        padding: 155px 15px 155px 15px;
        @media (max-width:768px) {
            padding: 50px 30px;
        }
        .sep-line{
            margin: 72px auto 52px auto;
            height: 1px;
            background-color: $white;
            max-width: calc(100% - 320px);
            & + div{
                text-align: center;
            }
            @media (max-width:768px) {
                max-width: calc(100% - 0px);
                margin: 40px auto 40px auto;
            }
        }
        .form-wrapper{
            width: 100%;
            text-align: center;
            .heading{
                margin: auto;
                display: inline-block;
                position: relative;
                font-family: 'Uniser';
                font-size: 40px;
                letter-spacing: 1.6px;
                line-height: 43px;
                text-align: center;
                color: $white;
                text-decoration: underline;
                text-decoration-thickness: 2px;
                text-underline-offset: 11px;
                @media (max-width:992px) {
                    margin: unset;
                }
                @media (max-width:768px) {
                    font-size: 30px;
                    letter-spacing: 1.2px;
                    line-height: 32px;
                    text-decoration: unset;
                }
                @media (max-width:390px) {
                    max-width: 250px;
                    width: 100%;
                    margin: auto;
                }
            }
            .contact-form{
                max-width: 674px;
                width: 100%;
                margin: auto;
                input, textarea{
                    resize: none;
                    border: 1px solid $primary;
                    background-color: transparent;
                    color: $white;
                    padding:15px;
                    margin-bottom: 15px;
                    height: 38px;
                    min-width: 329px;
                    max-width: 329px;
                    width: 100%;
                    font-size: 17px;
                    letter-spacing: 0.34px;
                    font-family: 'Raleway';
                    &::placeholder{
                        color: $white;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                textarea{
                    height: 144px;
                }
                .input-columns{
                    display: flex;
                    justify-content: space-between;
                    .col-first{
                        text-align: left;
                    }
                    .form-input{                        
                        padding-bottom: 15px;
                    }
                    @media (max-width:768px){
                        flex-direction: column;
                        .form-input, textarea{
                            width: 100%;
                            max-width: unset;
                            min-width: unset;
                        }
                    }
                    /*the container must be positioned relative:*/
                    .custom-select {
                        text-align: left;
                        margin-top: 13px;
                        max-width: 290px;
                        width: 100%;
                        position: relative;
                        font-family: 'Raleway';
                        font-size: 18px;
                        letter-spacing: 1.8px;
                        @media (max-width:768px){
                            max-width: unset;
                            width: 100%;
                            margin-top: 0;
                            margin-bottom: 15px;
                        }
                        &:hover{
                            @media (min-width:900px) {
                                .select-selected{
                                    color: $white;
                                    transition: all 0.3s ease-out;
                                }
                                .select-items{
                                    // display: block;
                                    visibility: visible;
                                    height: 120px;
                                    transition: all 0.3s ease-out;
                                }                                
                            }
                        }
                    }
                    .custom-select select {
                        display: none; /*hide original SELECT element:*/
                    }

                    .select-selected {
                        background-color: transparent;
                        height: 40px;
                        font-family: 'RalewayBold';
                        font-size: 18px;
                        letter-spacing: 1.8px;
                    }

                    /*style the arrow inside the select element:*/
                    .select-selected:after {
                        position: absolute;
                        content: "";
                        top: 15px;
                        right: 10px;
                        width: 0;
                        height: 0;
                        border: 10px solid $white;
                        border-color: $white transparent transparent transparent;
                    }

                    /*point the arrow upwards when the select box is open (active):*/
                    .select-selected.select-arrow-active:after {
                        border-color: transparent transparent $white transparent;
                        top: 7px;
                    }

                    /*style the items (options), including the selected item:*/
                    .select-selected {
                        color: $white;
                        padding: 8px 16px;
                        border: 2px solid $white;
                        border-color: transparent transparent $primary transparent;
                        cursor: pointer;
                        user-select: none;
                    }
                    .select-items div{
                        color: $secondary;
                        cursor: pointer;
                        user-select: none;
                        padding-bottom: 9px;
                        font-size: 18px;
                        letter-spacing: 1.8px;
                    }

                    /*style items (options):*/
                    .select-items {
                        padding: 12px;
                        position: absolute;
                        background-color: rgba(255,255,255,0.9);
                        top: calc(100% - 4px);
                        left: 0;
                        right: 0;
                        z-index: 99;
                        height: 120px;
                        overflow: hidden;
                        transition: all 0.3s ease-out;
                    }

                    /*hide the items when the select box is closed:*/
                    .select-hide {
                        // display: none;
                        visibility: hidden;
                        height: 0;
                    }

                    .select-items div:hover, .same-as-selected {
                        font-family: 'RalewayBold';
                    }
                }
                .captcha-row{
                    display: flex;
                    // padding-top: 24px;
                    .c-img{
                        width: 122px;
                        height: 50px;
                    }
                    .captcha-input{
                        background-color: transparent;
                        border-radius: 0px;
                        max-width: 187px;
                        width: 100%;
                        min-width: unset;
                        height: 50px;
                        margin-left: 20px;
                        font-family: 'Raleway';
                        font-size: 16px;
                        letter-spacing: 0.16px;
                        color: $white;
                        margin-bottom: 0;
                        border: 1px solid $white;
                        &::placeholder{
                            color: $white;
                        }
                    }
                }
                /* The container */
                label.custom-checkbox {
                    text-align: left;
                    max-width: 560px;
                    display: block;
                    position: relative;
                    padding-left: 25px;
                    cursor: pointer;
                    color: $white;
                    font-family: 'Helvetica';
                    font-size: 16px;
                    letter-spacing: 0.16px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    #agree_from-error{
                        display: block;
                        position: absolute;
                        left: 6px;
                        top: 25px;
                    }
                }
                  
                /* Hide the browser's default checkbox */
                label.custom-checkbox input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }
                  
                /* Create a custom checkbox */
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 16px;
                    width: 16px;
                    background-color: transparent;
                    border: 1px solid $white;
                    // margin-top: 2px;
                }
                  
                /* On mouse-over, add a grey background color */
                label.custom-checkbox:hover input ~ .checkmark {
                    background-color: transparent;
                }
                  
                /* When the checkbox is checked, add a blue background */
                  label.custom-checkbox input:checked ~ .checkmark {
                    background-color: transparent;
                    border: 1px solid $white;;
                }
                  
                /* Create the checkmark/indicator (hidden when not checked) */
                  .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
                  
                /* Show the checkmark when checked */
                  label.custom-checkbox input:checked ~ .checkmark:after {
                    display: block;
                }
                  
                /* Style the checkmark/indicator */
                label.custom-checkbox .checkmark:after {
                    left: 3px;
                    top: 3px;
                    width: 8px;
                    height: 8px;
                    background-color: #C8D660;
                    // border: solid $white;
                    // border-width: 0 2px 3px 0;
                    // -webkit-transform: rotate(45deg);
                    // -ms-transform: rotate(45deg);
                    // transform: rotate(45deg);
                }
                .select-row{
                    display: flex;
                    justify-content: flex-start;
                    padding:60px 0 20px 0;
                    @media (max-width:768px){
                        flex-wrap: wrap;
                    }
                    #radio-row{
                        flex-wrap: wrap;
                        display: flex;
                        justify-content: flex-start;
                        min-width: 330px;
                        position: relative;
                        margin-top: 9px;
                        @media (max-width:360px){
                            min-width: 100%;
                        }
                        @media (max-width:360px){
                            flex-direction: column;
                            align-items: flex-start;
                        }
                        div{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            &:last-child{
                                margin-left: 50px;
                                @media (max-width:576px){
                                    margin-left: 20px;
                                }
                                @media (max-width:360px){
                                    margin-left: 0;
                                    margin-top: 20px;
                                }
                            }
                        }
                    }
                    #radio-row input[type='radio']{
                        display: none;
                    }
                    #radio-row input[type='radio'] ~ label{
                        // min-width: 180px;
                        width: 100%;
                        // height: 45px;
                        // padding: 8px 10px;
                        text-align: center;
                        position: relative;
                        cursor: pointer;
                        font-size: 18px;
                        letter-spacing: 1.8px;
                        line-height: 20px;
                        // opacity: 0.6;
                        color: $white;
                        // border: 1px solid $primary;
                        font-family: 'Raleway';
                        padding-left: 31px;
                        &:before{
                            content: "";
                            min-width: 18px;
                            min-height: 18px;
                            border: 1px solid $white;
                            position: absolute;
                            left: 0;
                        }
                    }
                    #radio-row input[type='radio']:checked ~ label{
                        font-family: 'RalewayBold';
                        opacity: 1;
                        &:before{
                            min-width: 16px;
                            min-height: 16px;
                            border: 2px solid $white;
                        }
                        &:after{
                            content: "";
                            min-width: 10px;
                            min-height: 10px;
                            background-color: $white;
                            position: absolute;
                            left: 5px;
                            top: 5px;
                        }
                    }
                }
                .checkbox{
                    padding-top: 40px;
                    padding-bottom: 10px;
                }
                .champ-obligations{
                    text-align: left;
                    font-size: 15px;
                    line-height: 16px;
                    padding-bottom: 40px;
                    font-family: 'Helvetica57';
                    color: $white;
                    a{
                        font-family: 'Helvetica57';
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .footer{
        min-height: 142px;
        text-align: center;
        padding: 36px 30px 39px 30px;
        @media (max-width:576px) {
            padding: 40px 30px;
            img{
                max-width: 150px;
            }
        }
    }
}
.link-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary;
    width: 100%;
    min-height: 64px;
    color: $white;
    cursor: pointer;
    border: 1px solid $white;
    font-family: 'Helvetica57';
    font-size: 22px;
    letter-spacing: 1.32px;
    text-align: center;
    transition: all 0.1s ease-out;
    @media (max-width:992px) {
        padding: 10px 15px;        
    }
    @media (max-width:576px) {
        padding: 10px 5px;        
        font-size: 18px;
        letter-spacing: 0.9px;
    }
    @media (max-width:350px) {
        padding: 10px 5px;        
        font-size: 16px;
        letter-spacing: 0.8px;
    }
    &:hover{
        background-color: $primary;
        border: 4px solid $white;
        color: $white;
    }
}